<div class="container">
    <div class="row">
        <form class=class="col-6 m-5" id="register_form" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>New user name</label>
                <input type="text" class="form-control" name="newusername" size="25" placeholder="Username">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="newemail" size="25" placeholder="Email">
            </div>
            <div class="form-group">
                <label>New password</label>
                <input type="password" class="form-control" name="newpassword" size="25" placeholder="Password">
                <small id="help" class="form-text text-muted">Enter username and password to register your account</small>
            </div>
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </form>
    </div>
</div>
<button onclick="redirected_url()">Go Back</button>
<script>
    function redirected_url() {
        document.location.href = "/";
    }
</script>